body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
}
a {
    text-decoration: none;
    color: var(--white);
}
p {
    font-size: 2rem;
    line-height: 1.2;
}

/* Atomic CSS */
.row {
    display: flex;
}
.column {
    flex-direction: column;
}
.talgi {
    text-align: center;  
}
.jtcn {
    justify-content: center;
}
.algi {
    align-items: center;
}
.grid {
    display: grid; 
}
.full {
    width: 100%;
}
.jtsb {
    justify-content: space-between;
}

/* Layout */

.container {
    width: 100%;
    max-width: 144rem;  
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
.input-btn{
    background-color: rgb(63, 110, 133);
    border: 0 solid transparent;
    color: white;
    padding: 1rem 1.2rem;
    width: 200px;
    height: 40px;
}
.input-search {
    background-color: rgb(63, 110, 133);
    border: 0 solid transparent;
    color: white;
    padding: 1rem 1.2rem;
    width: 700px;
    height: 40px;
}
form {
    margin-top: 2rem;
}
.rangement {
    grid-template-columns: repeat(5, 1fr);
    margin-top: 2rem;
    background-color: rgb(163, 163, 163);
    color: rgb(18, 51, 70);
}
.result-div {
    padding: 0rem;
}