body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #000;
    background-color: #fff;
}
a {
    text-decoration: none;
    color: var(--white);
}
p {
    font-size: 2rem;
    line-height: 1.2;
}

:root {
    --textColor: rgb(32, 101, 130);
}
/* Atomic CSS */
.row {
    display: flex;
}
.column {
    flex-direction: column;
}
.talgi {
    text-align: center;  
}
.jtcn {
    justify-content: center;
}
.algi {
    align-items: center;
}
.grid {
    display: grid; 
}
.full {
    width: 100%;
}
.jtsb {
    justify-content: space-between;
}

/* Layout */

.container {
    width: 100%;
    max-width: 144rem;  
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
.input-btn{
    background-color: rgb(63, 110, 133);
    border: 0 solid transparent;
    color: white;
    padding: 1rem 1.2rem;
    width: 200px;
    height: 40px;
}
.input-search {
    background-color: rgb(63, 110, 133);
    border: 0 solid transparent;
    color: white;
    padding: 1rem 1.2rem;
    width: 700px;
    height: 40px;
}
form {
    margin-top: 2rem;
}

.rangement {
    grid-template-columns: repeat(5, 1fr);
    margin-top: 2rem;
    background-color: rgb(163, 163, 163);
    color: rgb(18, 51, 70);
}
.rangement:nth-child(odd) {
    background-color: white;
    color: bal;
}
.result-div {
    padding: 0rem;
}

.text {
    color: var(--textColor);
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .btn-modal {
      height: 25px;
      width: 25px;
      background-color: var(--textColor);
      color: white;
      border: 0;
      border-radius: 50%;
  }


  .overlap {
    position: fixed;
    background-color:  rgba(0,0,0, 0.4);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
#modal {
    background-color: rgb(255, 255, 255);
    min-width: 320px;
    max-width: 80%;
    min-height: 80px;
    max-height: 80%;

    padding: 12px;
}
.overlap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.4);
}

.overlap[hidden] {
    display: none;
}

#modal {
    min-width: 320px;
    max-width: 80%;
    min-height: 80px;
    max-height: 80%;

    padding: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#modal h2 {
    margin-top: 0;
}